<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SeleniumFramework">
        <classes>
            <class name="com.bhushitasharma.test.vwoTestCase.vwo_Login_POM_PropertyReader_DM">
            </class>
        </classes>
    </test>
</suite>